

<div class="app-container">
  <mat-toolbar color="primary" fxLayoutGap="8px" class="app-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <a mat-icon-button routerLink="/home">
      <mat-icon svgIcon="lemon"></mat-icon><span class="mat-h2">Lemon Mart</span>
    </a>
    <span class="flex-spacer"></span>
    <button mat-mini-fab routerLink="/user/profile" matTooltip="Profile" aria-label="User Profile" *ngIf="displayAccountIcons">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-mini-fab routerLink="/user/logout" matTooltip="Logout" aria-label="Logout" *ngIf="displayAccountIcons">
      <mat-icon>lock_open</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav>
      <app-navigation-menu></app-navigation-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="app-container"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>